@page "/counter"
@using BlazorApp.Services
@rendermode InteractiveServer
@inject SampleService SampleService;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<h2>Hello, @SampleService.ChangedName("taira")</h2>

<p role="status">Current count: @(currentCount)</p>

@if (currentCount > 3)
{
    <p>You Win!</p>
}

<input @bind="message" />
<button @onclick="() => message = string.Empty">Clear</button>
<p>@message</p>

<button class="btn btn-primary" @onclick="() => currentCount++">Click me</button>

@code {
    private int currentCount = 0;

    [Parameter]
    public string name { get; set; } = "User";

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }

    string message = "";
}
